@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-image: url("1.jpg");
    background-size: 100% 100%;
}

.head {
    width: 50%;
    height: 50%;
    justify-content: space-around;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s linear;
    position: relative;
    background-size: 100% 100%;
}
/* #signin, #signup {
    background: none;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 20%;
    height: 13%;
    cursor: pointer;
    color: white;
    font-size: 2.5em;
    background-color: rgb(104, 98, 98, 1);
    transition: all 0.3s linear;
}
.head:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
#signin:hover, #signup:hover {
    background-color: rgb(104, 98, 98, 0.6);
} */

.tatti {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    transition: all 1s;
    background-color: rgb(100, 89, 89, 1);
    z-index: 1;
}
.time {
    width: 50%;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 0;
}

.in {
    width: 80%;
    height: 70%;
}
.in form {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
form div {
    font-size: 2em;
}
form div input {
    height: 30px;
    margin-left: 5px;
    outline: none;
    font-size: 0.8em;
    border: none;
}
.name, .pass, .email, .envelope, .inst {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

form div .sub, form div .res {
    margin-right: 10px;
    width: 70px;
    height: 30px;
    background: none;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 0.8em;
}

.toggle {
    width: 30%;
    height: 10%;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2em;
    background-color: white;
}
