<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./style/style.css">
    <title>Document</title>
</head>
<body>
    <h1 class="addh1">Add Your Important Notes</h1>
    <form class="add">
        <div class="insti">
            <i class="fa fa-university"></i>
            <input type="text" id="insti" placeholder="Institute" value="">
        </div>
        <div class="course">
            <i class="fa fa-id-card"></i>
            <input type="text" id="course" placeholder="Course ID" value="">
        </div>
        <div class="tit">
            <i class="fa fa-header"></i>
            <input type="text" id="tit" placeholder="Title" value="">
        </div>
        <div class="area">
            <i class="fa fa-sticky-note"></i>
            <textarea id="content" cols="115" rows="15" id="area" placeholder="Add sentence" value="qwerty"></textarea>
        </div>
        <div class="area">
            <i class="fa fa-sticky-note"></i>
            <textarea id="example" cols="115" rows="5" id="area" placeholder="Add Example" value="qwerty"></textarea>
        </div>
        <div class="action addSub">
            <input type="submit" value="Submit">
        </div>  
    </form>
</body>
    <script src="./script/addnote.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha512-0xrMWUXzEAc+VY7k48pWd5YT6ig03p4KARKxs4Bqxb9atrcn2fV41fWs+YXTKb8lD2sbPAmZMjKENiyzM/Gagw==" crossorigin="anonymous"></script>      
</html>