<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./style/style.css">
    <title>Document</title>
</head>
<body>
    <h1 class="addh1">Notebooks</h1>
    <form class="add view">
        <div class="insti">
            <i class="fa fa-university"></i>
            <input type="text" id="insti" placeholder="Institute">
        </div>
        <div class="course">
            <i class="fa fa-id-card"></i>
            <input type="text" id="course" placeholder="Course ID">
        </div>
        <div class="action addSub">
            <input type="submit" value="Submit">
        </div>  
    </form>
    <div class="showcase">
        <div class="note">
            <h1 class="title">CS202</h1>
            <h3 class="content">This is some random text.....</h3>
        </div>
    </div>
    <div class="pos center">
        <div class="mid">
            <div class="title2"><h1>CS202</h1></div>
            <div class="content2">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae debitis veniam incidunt fugit maiores<br>
                quo facere, doloribus tenetur quis atque magni perspiciatis natus. Consectetur fuga facilis aliquam nobis eveniet optio!<br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et ullam vitae est consequuntur quos numquam perspiciatis! Voluptates,<br>
                beatae? Ipsam autem veritatis provident esse quisquam, officiis consequatur nisi. Recusandae, obcaecati cupiditate!
            </div>
            <div class="cross">X</div>
        </div>
    </div>
    <script src="./script/notes.js"></script>
</body>
</html>